html {
    height: 100%;
}

body {
    background: #FFCFC6;
    font: normal 15pt Arial;
    display: block;
}

img {
    margin-left: 100px;
    height: 150px;
}

section {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    padding-bottom: 1px;
    width: 500px;
    margin: auto;
    margin-top: 15px;
    box-shadow: 3px 3px 10px rgb(88, 85, 85);
}

#cm {
    width: 155px;
    color: rgb(148, 60, 60);
}

footer {
    margin-top: 5px;
    color: rgb(148, 60, 60);
    text-align: center;
    font-style: italic;
}

#btCalcular {
    background-color: rgb(211, 93, 93);
    height: 60px;
}

#btCalcular:hover {
    background-color: rgb(148, 60, 60);
}

#btLimpar {
    height: 40px;
    line-height: 16px;
    background-color: rgb(135, 136, 136);
    color: #fff;
}

#btLimpar:hover {
    background-color: rgb(83, 83, 83);
}

#outValor {
    display: none;
}

#valor {
    background-color: #FFCFC6;
}

